<p id="notice"><%= notice %></p>

<p>
  <strong>Desc:</strong>
  <%= @listing.desc %>
</p>

<p>
  <strong>Building Name:</strong>
  <%= @listing.building.name %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
