<%= simple_form_for(@building) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, placeholder: 'Name' %>
    <%= f.input :year_build, placeholder: '1987' %>
    <%= f.input :address_id %>
    <%= f.input :structure_type %>
    <%= f.input :construction_status_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
